<h1>caracterizacion</h1>

CARGAR JUPITER

In [1]:
import ipykernel

CARGAR DATA BASE

In [3]:
import csv
with open('nike_shoes_sales.csv', 'r') as csvfile:
    csv_reader = csv.reader(csvfile)

LEER INFORMACION DEL DATA BASE

In [5]:
import pandas as pd
df = pd.read_csv('nike_shoes_sales.csv')
df.head()

,product_name,product_id,listing_price,sale_price,discount,brand,description,rating,reviews,images
0,Nike Air Force 1 '07 Essential,CJ1646-600,0,7495,0,Nike,Let your shoe game shimmer in the Nike Air For...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
1,Nike Air Force 1 '07,CT4328-101,0,7495,0,Nike,The legend lives on in the Nike Air Force 1 '0...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
2,Nike Air Force 1 Sage Low LX,CI3482-200,0,9995,0,Nike,"Taking both height and craft to new levels, th...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
3,Nike Air Max Dia SE,CD0479-200,0,9995,0,Nike,"Designed for a woman's foot, the Nike Air Max ...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
4,Nike Air Max Verona,CZ6156-101,0,9995,0,Nike,Pass on the good vibes in the Nike Air Max Ver...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."

el caso de estudio se basa en una tienda de zapatos la cual brinda diferentes variables como lo son el nombre del producto,la identificacion del producto,el costo de poner a la venta el producto, el precio de venta del producto, el descuento, una descripcion corta , calificacion del producto . cantidad de reviews e imagenes de ejemplo

**<h3>product_name</h3>**

In [14]:
import pandas as pd
import collections
import heapq
import re

df = pd.read_csv("nike_shoes_sales.csv")

#funcion para pasar los strings como listas
def preprocess_strings(series):
    series = series.str.replace(r'[^\w\s]', '').str.lower()
    series = series.str.split()
    return series

df["product_name"] = preprocess_strings(df["product_name"])

#transformar la variable  en una lista de palabras
words = [word for sublist in df["product_name"].tolist() for word in sublist]

#contar las coincidencias
word_counts = collections.Counter(words)

# las 20 palabras mas comunes

common_words = heapq.nlargest(20, word_counts.items(), key=lambda x: x[1])
for word, count in common_words:
    print(f"{word}: {count}")

nike: 540
air: 255
max: 139
zoom: 76
react: 64
mercurial: 60
jordan: 49
academy: 48
1: 43
vapor: 42
2: 39
13: 39
se: 38
phantom: 33
club: 33
force: 29
7: 28
tf: 28
premium: 27
sb: 27

la tienda se especializa en venta de zapatillas de marca NIKE  dado al comportamiento de la variable del nombre del producto , tambien se muestra como las zapatillas mas venbdidas son las que poseen la referencia air max las cuales son zapatillas de calle para vestimenta cotidiana o urbana

<img src="calzado-air-max-97-LJmK45.jpg" alt="Ejemplo" width="15%" height="15%">