## Caso 1

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [3]:
#Importar base de datos
df = pd.read_csv('nike_shoes_sales.csv')

In [4]:
df.head()

,product_name,product_id,listing_price,sale_price,discount,brand,description,rating,reviews,images
0,Nike Air Force 1 '07 Essential,CJ1646-600,0,7495,0,Nike,Let your shoe game shimmer in the Nike Air For...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
1,Nike Air Force 1 '07,CT4328-101,0,7495,0,Nike,The legend lives on in the Nike Air Force 1 '0...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
2,Nike Air Force 1 Sage Low LX,CI3482-200,0,9995,0,Nike,"Taking both height and craft to new levels, th...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
3,Nike Air Max Dia SE,CD0479-200,0,9995,0,Nike,"Designed for a woman's foot, the Nike Air Max ...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
4,Nike Air Max Verona,CZ6156-101,0,9995,0,Nike,Pass on the good vibes in the Nike Air Max Ver...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."

In [5]:
df.info

<bound method DataFrame.info of                              product_name  product_id  listing_price  \
0          Nike Air Force 1 '07 Essential  CJ1646-600              0
1                    Nike Air Force 1 '07  CT4328-101              0
2            Nike Air Force 1 Sage Low LX  CI3482-200              0
3                     Nike Air Max Dia SE  CD0479-200              0
4                     Nike Air Max Verona  CZ6156-101              0
..                                    ...         ...            ...
638                    Air Jordan 8 Retro  CI1236-100          15995
639            Nike Phantom Venom Club IC  AO0578-717           4995
640  Nike Mercurial Superfly 7 Academy TF  AT7978-414           8495
641                       Nike Air Max 98  AH6799-300              0
642                        Nike P-6000 SE  CJ9585-600           8995

     sale_price  discount brand  \
0          7495         0  Nike
1          7495         0  Nike
2          9995         0  Nike
3          9995         0  Nike
4          9995         0  Nike
..          ...       ...   ...
638       12797         0  Nike
639        3497         0  Nike
640        5947         0  Nike
641       16995         0  Nike
642        6297         0  Nike

                                           description  rating  reviews  \
0    Let your shoe game shimmer in the Nike Air For...     0.0        0
1    The legend lives on in the Nike Air Force 1 '0...     0.0        0
2    Taking both height and craft to new levels, th...     0.0        0
3    Designed for a woman's foot, the Nike Air Max ...     0.0        0
4    Pass on the good vibes in the Nike Air Max Ver...     0.0        0
..                                                 ...     ...      ...
638  The Air Jordan 8 Retro recaptures the memorabl...     5.0        1
639  The Nike Phantom Venom Club IC is engineered f...     0.0        0
640  The soft upper of the Nike Mercurial Superfly ...     5.0        1
641  The Nike Air Max 98 features the OG design lin...     4.0        4
642  A mash-up of Pegasus' past, the Nike P-6000 SE...     0.0        0

                                                images
0    ["https://static.nike.com/a/images/t_PDP_1728_...
1    ["https://static.nike.com/a/images/t_PDP_1728_...
2    ["https://static.nike.com/a/images/t_PDP_1728_...
3    ["https://static.nike.com/a/images/t_PDP_1728_...
4    ["https://static.nike.com/a/images/t_PDP_1728_...
..                                                 ...
638  ["https://static.nike.com/a/images/t_PDP_1728_...
639                                                NaN
640                                                NaN
641  ["https://static.nike.com/a/images/t_PDP_1728_...
642  ["https://static.nike.com/a/images/t_PDP_1728_...

[643 rows x 10 columns]>

In [6]:
total_faltantes_por_columna = df.isnull().sum()
total_faltantes_por_columna

product_name      0
product_id        0
listing_price     0
sale_price        0
discount          0
brand             0
description       3
rating            0
reviews           0
images           71
dtype: int64

Se trabajará con sale_price como variable dependiente (Y), encontraremos los predictores con los siguientes análisis.

In [7]:
df.describe()

       listing_price    sale_price  discount      rating     reviews
count     643.000000    643.000000     643.0  643.000000  643.000000
mean     3875.762053  10213.676516       0.0    2.734837    7.181960
std      5889.947172   4513.289512       0.0    2.137756   15.968315
min         0.000000   1595.000000       0.0    0.000000    0.000000
25%         0.000000   6995.000000       0.0    0.000000    0.000000
50%         0.000000   9597.000000       0.0    3.800000    1.000000
75%      8495.000000  12797.000000       0.0    4.600000    6.000000
max     19995.000000  36500.000000       0.0    5.000000  223.000000